:root {
  --primary-color: #d0946f;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  font-size: 48px;
  font-family: "Space Grotesk", serif;
  font-weight: lighter;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  font-family: "Source Serif 4", serif;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Source Serif 4", serif;
}

em {
  color: #939b7d;
}

.navbar {
  background-color: #e8d8c7;
  font-family: "Space Grotesk", sans-serif;
}

.navbar .navbar-brand,
.nav-item .nav-link {
  color: black;
}

.navbar .navbar-brand {
  font: 24px;
  font-weight: bold;
}

.nav-item .nav-link {
  font: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: "JetBrains Mono", monospace;
}

.primary-link:hover {
  color: #e8d8c7;
}

.secondary-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-family: "JetBrains Mono", monospace;
}
.secondary-link:hover {
  color: #926b38;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-wrap {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.email-container {
  border-radius: 30px;
  padding: 100px 150px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  border: black solid 2px;
}
.connect-text {
  display: inline-block;
  color: white;
  font-family: "JetBrains Mono", monospace;
  text-decoration: none;
  transition:
    transform 180ms ease,
    color 180ms ease;
}

.email-container:hover .connect-text {
  transform: scale(1.6);
  color: #e8d8c7;
}

@media (max-width: 767px) {
  body {
    padding: 1em;
  }
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .primary-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
  .email-link {
    font-size: 20px;
  }
  .project-container {
    box-shadow: var(--box-shadow);
    padding: 1em;
  }
}
